
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*------------------------
        Reset Browser Css
---------------------------- */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 /*-------------------
        base style
  -------------------- */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100% ;
}
/*---------------------------
        horizontal
---------------------------- */
hr{
    border: 
    1px solid #D1D1D1;
    margin-bottom: 25px;
}
/*---------------------------
     Header Section Start
     ---------------------------- */

     header{
        
        width:100%;
        background-color:  #562EFF;

    
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:1000px;
        margin:0 auto;
        box-sizing: border-box;
        padding:10px;
        margin-bottom: 20px;
    
    }
    
    
    .menu-list a{
        display: inline-block;
        text-decoration: none;
        color: aliceblue;
        padding: 5px 20px;
        font-size: 18px;
        text-transform: capitalize;
    }
    .menu-list a:last-child{
        font-size: 2.5em;
    }
    .logo{
        font-size: 2.4em;
        color: aliceblue;
    }

 
/* ----------------------------
    TOP PLAYER AND TOP BLOGS
--------------------------- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /* ---------------------
     Top Player Style
    ----------------------*/
.container{
    background-color: #fff;
    width:1000px;
    padding:32px;
    margin-bottom: 21px;
    border-radius: 10px;
}
.container .section-name{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 27px;
}
.top-players{
    margin-bottom: 33px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 0 9px 3px  #4603ff;
}
.player-name{
    margin-left: 16px;
    font-size: 16px;
    color:#424242;

}

/* -------------------
    Top Blog Styles 
------------------ */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px 25px;
    
}
 .blog{
    display: flex;
    padding: 10px;
    box-shadow: 0 0 15px #d9d2ff;
    border-radius: 10px;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog .blog-info{
    margin-left: 15px;
}
.blog  .blog-info p{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-info a{
    text-decoration: none;
    color: #562EFF;
}

/*---------------------------
    Latest Course start
 ------------------------- */
 .courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:24px;

}
.course{
    box-shadow: 0 0 15px #d9d2ff;
    border-radius: 10px;
    padding: 13px;
}
.course img{
    Width:266px;
    Height:141px;
}
.course-details>p{
    margin-top: 7px;
}
.fa-star.filled{
    width: 12px;
    height: 11px;
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-rating{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.course-rating .course-time{
    background: #FFE4E8;
    border-radius: 14.6913px;
    height: 29px;
    width: 90px;
    border-radius: 14.691296577453613px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-rating .course-time p{
    color:#FF4A60;
}
.course-rating .course-time p>i{
    margin-right: 7px;
}
/*-------------------
     Footer Style
     --------------------*/
footer>p{
    text-align: center;
    font-size: 14px;
    background-color:  #562EFF;
    width:100%;
    padding:9px 0;
    color: aliceblue;
}




/*---------------------------------
        Media Query
--------------------------------*/



        /* ----------------------------
                Mobile Screen 
        --------------------------------*/

@media only screen and (max-width:688px){

    
        .navbar{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 ;
            padding: 20px 10px;
            margin-bottom: 20px;
        }
        .logo-wrapper{
            margin-bottom: 12px;
        }
        
        .menu-list{
            display: flex;
            flex-direction: column; 
            width: 100%; 
        }
        .menu-list a{
            text-align: center;
            width: 100%;
            margin: 10px 0;
            padding: 15px 0;
            background-color: rgb(9, 8, 66);
            border-radius: 10px;
        }
   
    .container{
        width: 100%;
        padding: 0;
        margin: 0;

    }
   
   .players,.blogs,.courses{
        grid-template-columns: repeat(1,1fr);  
   }
   .player, .blog{
       flex-direction: column;
       align-items:center;
       width: 100%;
   }
   .section-name{
    text-align: center;
    margin-top: 60px;
    }
    .player{
        margin-top: 25px;
    }
    .player img{
        width: 90px;
        height: 90px;
    }
    .player .player-name{
        font-size: 1.5em;
        color:#424242;
    }
    .player h3{
        margin-top: 24px;
    }

    .blogs{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 35px;
    }
    .blog{
        width:100%;
        margin-bottom: 20px;
    }
    .blogs img{
        width:100%;
        height: auto;
    }

    .blog-info{
        text-align: center;
        margin-top:20px;
    }
    .blog-info p{
        margin-top:15px;

    }
    .courses{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 35px;
    }
    .course{
        margin-bottom: 25px;
        width: 100%;
        margin-top: 30px;
    }
    .courses img{
        width:100%;
        height:auto;
    }
    .course-details{
        margin-top: 20px;
    }
    footer{
        width: 100%;

    }
    footer p{
        font-size: 13px;
    }
    
 

}


        /* ----------------------------
                I-pad Or Any Tab Screen 
        --------------------------------*/
@media  only screen and (min-width:688px) and (max-width:992px) {
    .navbar{
        width: 100%;
    }
    .menu-list a{
        padding: 7px;
    }

    .container{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .section-name{
        margin-left: 30px;
        margin-top: 40px;
    }
    .players,.courses{
        grid-template-columns: repeat(2,1fr);
        
    }
    .player{
        margin-left: 50px;
        margin-top: 20px;

    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
        padding: 15px 30px;
    }
   
    .courses{
        padding: 0 30px 20px;
    }
    .course{
        margin-top:27px ;
    }
    footer{
        width: 100%;

    }
    footer p{
        font-size: 13px;
    }
}














