
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*------------------------
        Reset Browser Css
---------------------------- */
*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}
 /*-------------------
        base style
  -------------------- */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
/*---------------------------
        horizontal
---------------------------- */
hr{
    border: 
    1px solid #D1D1D1;
    margin-bottom: 25px;
}
/*---------------------------
     Header Section Start
     ---------------------------- */

     /* header{
        background-color:  #562EFF;
        width:100%;
    
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:934px;
        margin:0 auto;
        box-sizing: border-box;
        padding:10px;
    
    }
    
    
    .menu-list a{
        display: inline-block;
        text-decoration: none;
        color: aliceblue;
        padding: 5px 20px;
        font-size: 18px;
        text-transform: capitalize;
    }
    .menu-list a:last-child{
        font-size: 2.5em;
    }
    .logo{
        font-size: 2.4em;
        color: aliceblue;
    } */
/* ----------------------------
    TOP PLAYER AND TOP BLOGS
--------------------------- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /* ---------------------
     Top Player Style
    ----------------------*/
.container{
    background-color: #fff;
    width: 870px;
    padding:32px;
    margin-bottom: 21px;
}
.container .section-name{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 27px;
}
.top-players{
    margin-bottom: 33px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 16px;
}

/* -------------------
    Top Blog Styles 
------------------ */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px 25px;
}
.blogs .blog{
    display: flex;
}
.blog .blog-thumbnail img{
    width: 177px;
    height: 117px;
}
.blog .blog-info{
    margin-left: 15px;
}
.blog  .blog-info p{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-info a{
    text-decoration: none;
    color: #562EFF;
}

/*---------------------------
    Latest Course start
 ------------------------- */
 .courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:24px;
}
.course{
    margin-right: 12px; 
}
.course img{
    Width:266px;
    Height:141px;
}
.course-details>p{
    margin-top: 5px;
}
.fa-star.filled{
    width: 12px;
    height: 11px;
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-rating{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.course-rating .course-time{
    background: #FFE4E8;
    border-radius: 14.6913px;
    height: 29px;
    width: 90px;
    border-radius: 14.691296577453613px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-rating .course-time p{
    color:#FF4A60;
}
.course-rating .course-time p>i{
    margin-right: 7px;
}
/*-------------------
     Footer Style
     --------------------*/
/* footer>p{
    text-align: center;
    font-size: 14px;
    background-color:  #562EFF;
    width:100%;
    padding:9px 0;
    color: aliceblue;
} */

/*---------------------------------
        Media Query
--------------------------------*/

@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
   .players,.blogs,.courses{
        grid-template-columns: repeat(1,1fr); 
   }
   .player{
       flex-direction: column;
       align-items: center;  
   }
   .blog{
       flex-direction: column;
   }
    
}













